.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: -40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.photo {
    width: 50%;
    height: 100vh;
    object-fit:cover;
}

.welcomeText {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.welcomeText p {
    font-family: "Fredoka", sans-serif;
    font-size: 22px;
}

.shopBtn {
    text-decoration: none;
    background-color:darkorange;
    color: white;
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    padding: 5px 20px 5px 10px;
    align-self: baseline;
    border-top-right-radius: 20% 60%;
    border-bottom-right-radius: 20% 60%;
}

.shopBtn:hover {
    background-color:rgb(245, 130, 0);
    cursor: pointer;
}