.card {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 80px 25vh 50px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}
    

.card img {
    max-width: 90%;
    height: 100%;
    object-fit:contain;
    background-color: white;
    justify-self: center;
}

.cardTitle {
    font-family: "Fredoka", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    align-self: center;
}

.priceandamount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.amount {
    display: flex;
    flex-direction: row;
    height: 60%;
    gap: 5px;
}

.amount button {
    padding: 0 5px;
    text-align: center;
    width: 25px;
    border-radius: 50%;
    border-style: none;
    align-self: center;
    font-size: 20px;
    background-color: rgb(20, 20, 20);
    font-weight: bold;
    color: white;
}

.amount button:hover {
    cursor: pointer;
    transform: scale(110%);
}

.amount input {
    max-width: 60px;
    text-align: center;
}

.cardPrice {
    font-family: "Fredoka", sans-serif;
    font-size: 20px;
    font-weight: bold;
    align-self: center;
}

.addtoCart {
    max-width: 150px;
    margin: 0 auto;
    padding: 10px 20px;
    border-style: none;
    border-radius: 5px;
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color:darkorange;
    color: white;
}

.addtoCart:hover {
    background-color:rgb(245, 130, 0);
    cursor: pointer;
    transform: scale(105%);
    
}

.addtoCart:disabled {
    background-color:rgba(245, 130, 0, 0.2);
    transform: none;
    cursor: default;
    
}