.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
}

.loadingText {
    padding-top: 100px;
    font-family: "Fredoka", sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
}

.categoryHead {
    font-family: "LilitaOne", serif;
    font-size: 35px;
    text-align: center;
}

.itemsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}