@font-face {
    font-family: "LilitaOne";
    src: url(assets/fonts/LilitaOne-Regular.ttf);
}


@font-face {
    font-family: "Fredoka";
    src: url(/src/assets/fonts/Fredoka-Regular.ttf),
    url(/src/assets/fonts/Fredoka-Medium.ttf),
    url(/src/assets/fonts/Fredoka-Bold.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
}
